<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Ignore requests that start with /api (Let Node.js handle them)
  RewriteCond %{REQUEST_URI} !^/api/
  
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  
  # Only ignore /api here too
  RewriteCond %{REQUEST_URI} !^/api/
  RewriteRule . /index.html [L]
</IfModule>
